.updateToDoContainer{
   border: 3px solid #f1f1f1;
    border-radius: 10px;
    padding: 30px;
}

button.save{
    background-color: blueviolet;
    border-color: blueviolet;
    color: white;
}

button.cancel {
    background-color: hsl(271, 68%, 83%);
    border-color: blueviolet;
    color: white;
}

button.btn:hover {
    background-color: yellow;
    color: blueviolet;
}
